// @font-face { font-family: ineter;
//   src: url(Lato-Black.ttf); } 

.landing-page {
  margin: auto;
  width: 50%;
  
  padding: 10px;
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #101a33;
}

.light-spin-logo {
  position: absolute;
  width: 164px;
  height: 37px;
  left: 26px;
  top: 20px;
}
