.first-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 27px;

  position: absolute;
  width: 1314px;
  height: 385px;
  left: 63px;
  top: 159px;

  .google-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 420px;
    height: 385px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .cnet-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 420px;
    height: 385px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .facebook-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 420px;
    height: 385px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
  }
}

.scond-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 27px;

  position: absolute;
  width: 867px;
  height: 385px;
  left: 63px;
  top: 570px;

  .amaozon-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 420px;
    height: 385px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 420px;
    height: 385px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .twitter-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 420px;
    height: 385px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .add-web-div {
  }
}

.graph-data {
  background: linear-gradient(180deg, #16213c 0%, #232d4a 100%);
  border-radius: 4px 4px 0px 0px;
  width: 400px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 26px;
}
